<div class="inventories">
    <div class="inv-action">
        <h3><%=link_to inventory.name,inventory_path(inventory) %></h3>
        <%=button_to 'REMOVE', inventory_path(inventory), method: :delete, data: { confirm: 'Do you want to delete #{inventory.name}' }, class:'btn btn-md btn-danger'%>
    </div>
    <p class="inv-details"><%=inventory.description%></p>
</div>