<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Generating Shopping List</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center">Please choose an Inventory to use.</p>
        <div class="d-flex">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              . . . Select Inventory . . .
            </button>
            <ul class="dropdown-menu">
              <% @inventories.each do |inventory| %>
              <li><a class="dropdown-item" href="#"> <%= inventory.name %> </a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to  shopping_lists_path(recipe_id:@recipe, inventory_id:@inventory), :class => "btn btn-primary add mb-3" do %>
          Generate shopping list 
        <% end %>
      </div>
    </div>
  </div>
</div>
