<div class="recipe-cont">
    <div class="recipe-action">
        <h3><%=link_to recipe.name,recipe_path(recipe) %></h3>
        <%=button_to 'REMOVE', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' }%>
    </div>
    <p class="recipe-details"><%=recipe.description%></p>
</div>