.recipe-cont {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  border: 2px solid rgb(41, 38, 38);
  padding: 2rem;
}

.recipe-action {
  margin-right: 2rem;
}

.recipe-details {
  padding: 0.5rem;
}
